{% extends 'base.html' %}

    {% block content %}
        <h1>리뷰 목록!!</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">title</th>
              <th scope="col">content</th>
              <th scope="col">rank</th>
              <th scope="col">created_at</th>
            </tr>
          </thead>
          <tbody>
            {% for review in reviews %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td><a href="/community/review_detail/{{review.pk}}">{{review.title}}</a></td>
                  <td>{{review.content}}</td>
                  <td>{{review.rank}}</td>
                  <td>{{review.created_at}}</td>
                </tr>
            {% endfor %}
          </tbody>
        </table>







    {% endblock %}

